# SPDX-FileCopyrightText: 2023 Deren Vural <derenv@live.co.uk>
# SPDX-FileCopyrightText: 2023 Oscar McCabe <oscarmccabe98@gmail.com>
# SPDX-License-Identifier: MIT

# Variables
# PLEASE CHANGE THESE!
DATA_DIR="/home/someuser/nginx_data"
WEBSITE_URL="someurl.com"
PROXY_CONFIG_FILE="filename.conf"
DOCKER_IP_RANGE="172.18.0.*"
