# SPDX-FileCopyrightText: 2023 Deren Vural <derenv@live.co.uk>
# SPDX-FileCopyrightText: 2023 Oscar McCabe <oscarmccabe98@gmail.com>
# SPDX-License-Identifier: MIT

[Unit]
Description=Timer for updating nginx forwarding IP address for nextcloud-aio-apache

[Timer]
Unit=nginx-reset-ip.service
OnBootSec=15min
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
